.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: skyblue;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  border: none;
  background: none;
}

.side-bar-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.side-bar-list button {
  margin: 5px;
  border: none;
  background: none;
  width: 120px;
}
.side-bar-list button:hover {
  background-color: beige;
  border-radius: 3px;
}

#main {
  transition: margin-left 0.5s;
  padding: 20px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav button {
    font-size: 18px;
  }
}

.head-line {
  margin-top: 1em;
  display: flex;
  justify-content: center;
}

.head-line svg {
  width: 430px;
}

.menus {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-top: 1px solid #ebebeb;
  border-bottom: 4px double black;
}

.menus button {
  border: none;
  background: none;
  margin: 5px;
}

.menus button:hover {
  background-color: beige;
}
.news-img-size {
  max-width: 100%;
  max-height: 250px;
}

.news {
  border-bottom: 2px solid black;
}
